.container1 {
  position: relative;
}

.content__block1 {
  color: #FFF;
  width: 650px;
  font-size: 40px;
  font-weight: 400;
  padding-top: 245px;
  margin-left: 30px;
  z-index: 2;
  position: relative;
}

.content__block2 {
  width: 1480px;
  height: 780px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  justify-content: flex-start;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
}

.content {
  width: 1480px;
  height: 810px;
  border-radius: 164px 0px 0px 164px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 68.21%, rgba(255, 255, 255, 0.02) 100%, #000000, #FFFFFF1A);
  display: flex;
  right: 0;
  top: 0;
  justify-content: center;
  position: relative;

  z-index: 1;
}

.image {
  position: absolute;
  margin-top: 71px;
  margin-right: 71px; 
  z-index: 0;
}

.image img {
  width: 1100px;
  height: 670px;
}

@media screen and (min-width: 1440px) and (max-width: 1900px) {
  .content__block1 {
    width: 550px;
    font-size: 30px;
  }

  .content {
    border-radius: 114px 0px 0px 114px;
    width: 1180px;
    height: 710px;
  }

  .image {
    margin-top: 41px;
    margin-right: 61px; 
  }

  .image img {
    width: 880px;
    height: 500px;
  }

  .content__block1 {
    padding-top: 180px;
  }

  .content__block2 {
    height: 580px;
  }
}
