.container5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.categories1, .categories2 {
    display: flex;
    justify-content: space-between;
    width: 80%; 
}

.eventBlock1, .eventBlock2, .eventBlock3, .eventBlock4, .eventBlock5, .eventBlock6 {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px; 
    margin-top: 60px;
    text-align: center;
}

.eventBlock1 img, .eventBlock2 img, .eventBlock3 img, .eventBlock4 img, .eventBlock5 img, .eventBlock6 img {
    max-width: 100%;
    display: block; 
    margin: 0 auto; 
    text-align: center;
}

.eventBlock1 a, .eventBlock2 a, .eventBlock3 a, .eventBlock4 a, .eventBlock5 a, .eventBlock6 a {
    position: relative;
    display: block;
}

.image-text {
    position: absolute;
    font-size: 32px;
    font-weight: 400;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff;
    padding: 10px 20px; 
    z-index: 1;
}

.CreateEvent {
    display: flex;
    margin-top: 67px;
    position: absolute;
    color: white;
}

.container6 {
    display: flex;
    justify-content: flex-end;
    padding: 0px 84px 0px 84px;
}

.CreateEvent a {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 1440px) and (max-width: 1900px) {
    .categories1, .categories2 {
        width: 75%;
        height: 80%;
    }

    .eventBlock1 img, .eventBlock2 img, .eventBlock3 img, .eventBlock4 img, .eventBlock5 img, .eventBlock6 img {
        max-width: 100%;
        height: 260px;
    }

    .eventBlock1, .eventBlock2, .eventBlock3, .eventBlock4, .eventBlock5, .eventBlock6 {
        margin-top: 2svh;
    }

    .image-text {
        font-size: 30px;
    }
}