*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  width: 100%;
  background: linear-gradient(107deg, #000 0.47%, rgba(0, 0, 0, 0.84) 47.64%, rgba(0, 0, 0, 0.82) 66.31%, rgba(0, 0, 0, 0.84) 78.23%, rgba(0, 0, 0, 0.89) 100%);
  background-size: cover;
  background-attachment: fixed;
  font-family: Montserrat;
}

.container {
  width: 100%;
}

.header {
  max-width: 1920px;
  height: 155px;
  margin-left: 0px;
  margin-right: 0px; /* Центруємо блок по горизонталі */
  padding: 0; /* Додаємо відступи для адаптації до різних розмірів */
  position: relative; /* Додаємо позиціонування для лого */
}

.header.header {
  width: 1920px;
}

.div.header__wrapper {
  width: 1920px;
}

.header__wrapper {
  max-width: 1920px;
  height: 155px;
  margin: 0 auto; /* Центруємо блок по горизонталі */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Додаємо позиціонування для лого */
}

.nav a {
  color: #FFF;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  margin-right: 30px;
}

.header__block4 a {
  color: #FFF;
  font-size: 30px;
  text-decoration: none;
}

.header__block4 {
  margin-right: 3%;
  display: flex;
  align-items: center;
  gap: 35px;
}

.logo {
  color: #FFF;
  font-size: 75px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  margin-left: 30px;
  transform: translateY(-50%);
  z-index: 2;
}

.logo2 {
  color: rgba(255, 255, 255, 0.25);
  font-size: 75px;
  font-weight: 400;
  margin-left: 35px;
  position: relative;
  z-index: 1;
  white-space: nowrap;
}

.header__block2 {
  display: flex;
  text-align: center;
}

.header__block3 img{
  margin-right: 25px;
  width: 30px;
  height: 30px;
}

.header__block3 a{
  margin-right: 20px;
}


@media screen and (min-width: 1440px) and (max-width: 1900px) {
  .header {
    max-width: 1440px;
    height: 140px;
  }

  .header__wrapper {
    max-width: 1440px;
    height: 140px;
  }

  .container {
    max-width: 1440px;
  }

  .nav a {
    font-size: 25px;
  }

  .header__block3 img {
    width: 27px;
    height: 27px;
  }

  .header__block3 a {
    margin-right: 15px;
  }

  .header__block4 {
    margin-right: -1.5%;
  }

  .header__block4 a {
    font-size: 25px;
  }

  .header__block4 img {
    width: 27px;
  }

  .logo {
    font-size: 60px;
    margin-left: 30px;

  }

  .logo2 {
    font-size: 60px;
    margin-left: 35px;
  }
  
  .header.header {
    width: 1440px;
  }
  
  .header.header__wrapper {
    width: 1440px;
  }
}
