.ButtonAddAds {
    width: 250px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 130px;
    font-size: 25px;
    color: white;
    font-family: Montserrat;
    font-weight: 400;
}

.adsBlock {
    display: flex;
    padding: 10px;
    gap: 15px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 10px;
}

.adsInfo {
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.adsInfo img {
    width: 25%;
    height: 400px;
    margin-left: auto;
    margin-left: 50px;
    box-shadow: rgba(255, 255, 255, 0.28) 0px 48px 100px 0px;
}

.adsDescription {
    display: grid;
    margin-bottom: auto;
    margin-top: 20px;
    margin-left: 50px;
}

.adsDescription .adsText {
    text-align: center;
}

.adsDescription h1 {
    color: white;
    font-family: Montserrat;
    font-weight: 400;
}